
<%- include('header') -%> 

<body>
    <div class="box" id="heading">
        <h1><%= listtitle %> </h1>


    </div>






    <div class="box">


        <% for(var i=0;i<newlistitems.length;i++){ %>
        <div class="item">

            <input type="checkbox">
            <p><%=   newlistitems[i]  %></p>
        </div>
        <% } %>





        <form class="item" action="/" method="post">

            <input name="newItem" type="text" placeholder="New Item" autocomplete='off'>

            <button type="submit" name="button" value="<%= listtitle %>">+</button>

        </form>
    </div>



    <%- include('footer') -%> 



</body>

</html>